@model MongoDbAndDesignPatternProject.MediatorDesignPattern.Commands.CreateCategoryCommand
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateCategory</h1>

<form method="post">
    <label>Kategori Ad </label>
    <input type="text" asp-for="CategoryName" class="form form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>