@model List<MongoDbAndDesignPatternProject.MediatorDesignPattern.Results.GetAllCategoryQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listeleme Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori İsim</th>
        <th></th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/AdminTeam/DeleteTeam/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminTeam/UpdateTeam/@item.CategoryID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }

</table>
<a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori ekle</a>