@model List<MongoDbAndDesignPatternProject.DAL.Entities.Service>

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-6 mb-4">Sizlere Neler Sunuyoruz?</h1>
                <p class="mb-5">Her Gün Siz Değerli Müşterilerimiz İçin Her Geçen Gün Gelişmeye Devam ediyoruz</p>
                <div class="row gy-5 gx-4">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="@item.ServiceIcon"></i>
                            </div>
                            <h5 class="mb-0">@item.ServiceTitle</h5>
                        </div>
                        <span>@item.ServiceDescription</span>
                    </div>
                    }
                    
                 
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/baker-1.0.0/img/service-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/baker-1.0.0/img/service-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>