@model MongoDbAndDesignPatternProject.CQRSPattern.Commands.CreateServiceCommand
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hizmet Ekleme Sayfası</h1>

<form method="post">
    <label>Hizmet İcon</label>
    <input type="text" asp-for="ServiceIcon" class="form form-control" />
    <br />
    <label>Hizmet Başlık</label>
    <input type="text" asp-for="ServiceTitle" class="form form-control" />
    <br />
    <label>Hizmet Açıklama</label>
    <input type="text" asp-for="ServiceDescription" class="form form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>