<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Years Experience</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">50</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-users fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Skilled Professionals</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">175</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-bread-slice fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Total Products</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-cart-plus fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Order Everyday</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">9357</h1>
                </div>
            </div>
        </div>
    </div>
</div>
