<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Toplam Çalışan</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@ViewBag.TeamCount</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-users fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Toplam Referans</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@ViewBag.TestimonialCount</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-bread-slice fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Toplam Ürün</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@ViewBag.ProductCount</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-cart-plus fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Toplam Mesaj</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@ViewBag.ContactCount</h1>
                </div>
            </div>
        </div>
    </div>
</div>
