@model MongoDbAndDesignPatternProject.MediatorDesignPattern.Commands.CreateTestimonialCommand
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referans Ekleme Sayfası</h1>

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" asp-for="NameSurname" class="form form-control" />
    <br />
    <label>Görevi</label>
    <input type="text" asp-for="Title" class="form form-control" />
    <br />
    <label>Resim</label>
    <input type="text" asp-for="Image" class="form form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>