@model List<MongoDbAndDesignPatternProject.MediatorDesignPattern.Results.GetAllTestimonialQueryresult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Referans Listeleme Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim Soyisim</th>
        <th>Görevi</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td><img src="@item.Image" /></td>

            <td><a href="/AdminTestimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminTestimonial/UpdtaeTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }

</table>
<a href="/AdminTestimonial/CreateTestimonial" class="btn btn-primary">Yeni Çalışan ekle</a>