@model MongoDbAndDesignPatternProject.MediatorDesignPattern.Results.GetTestimonialCountQueryResult
@{
    ViewData["Title"] = "TestimonialCount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>TestimonialCount</h1>
<p>Referans Sayısı: @Model.TestimonialCount</p>

